<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Discussions</title>
    {{> headers}}

    <style media="screen">
      .container {
        display: flex;
      }
      .sidebar {
        width: 200px;
        border: 1px solid red;
        display: inline-block;
      }
      .threads {
        width:
      }
    </style>
  </head>
  <body>
    <nav>
      {{> navbar}}
    </nav>

    <div class="container">
      <div class="sidebar">

      </div>
      <div class="threads">
        <div class="card">
          <h1>How are you Qasim</h1>
          <p>It has been a long journey since we started running this path. I am excited and nervous. two things at one time. Let us see what happens when something bad happens.</p>
        </div>
      </div>
    </div>
  </body>
</html>
