<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Profile</title>
    {{> headers}}
  </head>
  <body>
    <nav>
      {{> navbar}}
    </nav>
    <div class="container">
      <form class="" action="/edit_profile" method="post">

        <label for="img">Image URL</label>
        <input type="text" name="img" value="{{user.picture}}">

        Or

        <label for="img_upload">Upload Image</label>
        <input type="file" name="img_upload" value="">

        <label for="name">Name</label>
        <input type="text" name="name" value="{{user.name}}">

        <label for="email">Email</label>
        <input type="email" name="email" value="{{user.email}}">

        <label for="password">Password</label>
        <input type="password" name="password" value="123334" placeholder="Enter the password here">

        <label for="password2">Confirm Password</label>
        <input type="password" name="password2" value="123334" placeholder="Re-enter your password">

        <button type="submit" name="button">Submit</button>
      </form>
    </div>
  </body>
</html>
