<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {{> headers}}
  </head>
  <body>
    <nav>
      {{> navbar}}
    </nav>
    <div class="container">
      <p>{{error}}</p>
    </div>
  </body>
</html>
