<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>

    {{> headers}}
  </head>
  <body>
    <nav>
      {{> navbar}}
    </nav>
    <div class="container">
      <p>Hi {{name}}, Welcome to Techshek.</p>
      <a href="/logout">Log Out</a>
    </div>
  </body>
</html>
