<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <p>Hi {{name}}, Welcome to Techshek.</p>
    <a href="/logout">Log Out</a>
  </body>
</html>
