<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>

    {{> headers}}
  </head>
  <body>
    <nav>
      {{> navbar}}
    </nav>
    <div class="container">
      <img src="{{user.picture}}" alt="">
      <p>{{user.name}}</p>
      <p>{{user.email}}</p>
      <p>{{user.intro}}</p>
      <a href="/edit_profile">Edit Profile</a>
    </div>
  </body>
</html>
